* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	border: none;
}



body {
	font-family: Montserrat,sans-serif;
	display:flex;
	align-items: center;
	justify-content: center;
}

.loginform {
	display:flex;
	flex-direction:column;
	width:400px;
}
input {
	margin :7px 0;
	padding: 7px;
	
}

button {
	padding: 7px;
	background: #e3e3e3;
	cursor:pointer;
}

a {
	color: rgba(0, 0, 0, 0.53);
	font-weight: bold;
	text-decoration: none;
}

p{
	margin: 10px 0;
}

.msg {
	border:2px solid #d43431c0;
	border-radius:3px;
	padding: 10px;
	color: #d43431c0;
	text-align:center;
	font-weight: bold;
}